.baseTable[data-v-7d46045a] {
  margin-top: 5px;
}
.baseTable[data-v-7d46045a] .el-table__header-wrapper {
  height: 32px;
}
.number[data-v-7d46045a] .el-input__inner {
  text-align: left;
}

.number[data-v-120114bc] .el-input__inner {
  text-align: left;
}

