#changeContab .el-tabs[data-v-6a0d210e] {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#changeContab .tabBody .el-row[data-v-6a0d210e] {
  margin: 10px 0;
}
#changeContab .tabBody .el-row .long .el-select[data-v-6a0d210e] {
  width: 350px;
}
#changeContab .tabBody .el-row .el-input-number[data-v-6a0d210e] {
  width: 110px;
}

@charset "UTF-8";
.el-row[data-v-c7f782de] {
  height: 100%;
  margin: 0;
}
.el-col[data-v-c7f782de] {
  height: 100%;
}
.custom-node[data-v-c7f782de] {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.vue-context-menu[data-v-c7f782de] {
  font-size: 13px;
}
.vue-context-menu[data-v-c7f782de] .context-menu-list {
  padding: 2px 5px;
}
.vue-context-menu[data-v-c7f782de] .nav-name-right {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

@charset "UTF-8";
.el-row[data-v-1c1ddbfe] {
  height: 100%;
  margin: 0;
}
.el-col[data-v-1c1ddbfe] {
  height: 100%;
}
.custom-node[data-v-1c1ddbfe] {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.vue-context-menu[data-v-1c1ddbfe] {
  font-size: 13px;
}
.vue-context-menu[data-v-1c1ddbfe] .context-menu-list {
  padding: 2px 5px;
}
.vue-context-menu[data-v-1c1ddbfe] .nav-name-right {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.tagsdiv[data-v-436c0931] {
  height: 85px;
  line-height: 30px;
  border: 1px dashed #ccc;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.el-tag + .el-tag[data-v-436c0931] {
  margin-left: 10px;
}
.el-row[data-v-436c0931] {
  height: 100%;
  margin: 0;
}
.el-col[data-v-436c0931] {
  height: 100%;
}

.el-row[data-v-7276ab38] {
  height: 100%;
  margin: 0;
}
.el-col[data-v-7276ab38] {
  height: 100%;
}

