.vbi-form[data-v-06f7d2a6] .el-textarea__inner {
  white-space: pre;
}

.search-label[data-v-f439d6f4] {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}
.search-input[data-v-f439d6f4] {
  width: 200px;
}

.search-label[data-v-6a7cc240] {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}
.search-input[data-v-6a7cc240] {
  width: 200px;
}

.search-label[data-v-fdda4118] {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}
.search-input[data-v-fdda4118] {
  width: 200px;
}

.search-label[data-v-221dfa52] {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}
.search-input[data-v-221dfa52] {
  width: 200px;
}

.el-row[data-v-f54cac1c] {
  height: 100%;
  margin: 0;
}
.el-col[data-v-f54cac1c] {
  height: 100%;
}
.search-label[data-v-f54cac1c] {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

